<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">

    <style>
        body {
            background-image: url("../assets/bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            overflow-x: hidden;
            background-color: #02a385;
        }

        .container {
            border: 5px solid #a8c582;
        }

        .col-form-label {
            color: #A41E29;
        }

    </style>
</head>

<body>

    <div class="modal fade" id='successModal' aria-labelledby="successModal" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Your guild has been created successfully!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">View my guild!</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id='failModal' aria-labelledby="failModal" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Oh no...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>There has been some issues with creating your guild, please contact our administrator!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Contact admin</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">WAD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./home.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./tasks.html">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./team.html">Team</a>
                </li>
            </ul>
            <ul class='navbar-nav ml-auto'>
                <li class="nav-item m-1">
                    <a class="btn btn-secondary" href="./createguildorg.html">Create Guild</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" id="signUpLinkTeam">
        <div class='container mt-3'>
            <div class="row">
                <div class="col">
                    <h3 class='text-center p-3'>
                        Link Guild with { Project Name }
                    </h3>

                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">Username:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username"
                                placeholder="Choose your username">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email"
                                placeholder="Enter your email">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password"
                                placeholder="Choose a password with 8 or more characters with a mix of letters, numbers and symbols">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="jobType" class="col-sm-2 col-form-label">Choose your job type:</label>
                        <div class="col-sm-10 input-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="jobType" id="knight" value="knight"
                                    checked>
                                <label class="form-check-label" for="knight">Knight</label>
                                <img id="knightpic" src="../assets/knightselect.png" alt="knight image"/>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="jobType" id="wizard" value="wizard">
                                <label class="form-check-label" for="wizard">Wizard
                                    <img id="wizardpic" src="../assets/knightselect.png" alt="wizard image"/>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="jobType" id="elf" value="elf">
                                <label class="form-check-label" for="elf">Elf
                                    <img id="elfpic" src="../assets/knightselect.png" alt="elf image"/>
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="jobType" id="dragon" value="dragon">
                                <label class="form-check-label" for="dragon">Dragon
                                    <img id="dragonpic" src="../assets/knightselect.png" alt="dragon image"/>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="guildName" class="col-sm-2 col-form-label">Guild Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="guildName"
                                placeholder="Input a guild name (org name)">
                        </div>
                    </div>


                    <div class="form-group row d-none">
                        <label for="token" class="col-sm-2 col-form-label">Token key:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="token"
                                placeholder="ad0918ed9c10bd6fdaf4fb64afb3e0001a39ea62" value="">
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="repoName" class="col-sm-2 col-form-label">Repository Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="repoName" placeholder="Input repo name">
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label for="guildMember" class="col-sm-2 col-form-label">Invite guild members:</label>
                        <div class="col-sm-10 input-group">
                            <input type="email" class="form-control" id="guildMember" name="guildMember" value=""
                                placeholder="Guild member's email">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @click='addEmail()'>Add</button>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div v-if='emails.length > 0' class="col-sm-10 ml-auto m-3 custom-control custom-checkbox">
                        <ul>
                            <li v-for='(email, index) in emails'>{{ email }}
                                <span @click='removeEmail(index)' class='float-right pr-5 text-danger' style="cursor:pointer;">remove</span>
                            </li>
                        </ul>
                    </div> -->

                    <div class="form-group row">
                        <label for="repoToken" class="col-sm-2 col-form-label">GitHub Token Key:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="repoToken" placeholder="Input repo token key">
                        </div>
                    </div>

                    <div class='text-right mb-3'>
                        <button class="btn btn-primary" @click='createGuild()'>Link Guild Up!</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

    <script>

        var app = new Vue(
            {
                el: "#signUpLinkTeam",
                data: {
                    emails: [],
                },
                methods: {
                    addEmail: function () {
                        newEmail = document.getElementById('guildMember').value.trim()
                        if (newEmail != '') {
                            this.emails.push(newEmail)
                        }
                        document.getElementById('guildMember').value = ''
                    },
                    removeEmail: function (index) {
                        this.emails.splice(index, 1);
                    },
                    createRepo: function (token, guildName) {
                        var repoName = document.getElementById("repoName").value;
                        var repoDesc = document.getElementById("repoDesc").value;

                        var url = `https://api.github.com/orgs/${guildName}/repos`;
                        var request = new XMLHttpRequest();

                        request.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 201) {
                                $("#successModal").modal();
                            }
                            else if (this.readyState == 4 && this.status != 201) {
                                $("#failModal").modal();
                            }
                        }
                        var private = false;
                        if (document.getElementById("private").checked) {
                            private = true;
                        }
                        console.log(private);

                        var body = {
                            'name': repoName,
                            'description': repoDesc,
                            'private': private
                        }

                        request.open("POST", url, true);
                        request.setRequestHeader("Authorization", "token " + token, "Accept", "application/vnd.github.v3+json");
                        request.send(JSON.stringify(body));
                    },
                    addMember: function (token, guildName, email) {
                        var url = `https://api.github.com/orgs/${guildName}/invitations`;
                        var request = new XMLHttpRequest();

                        request.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 201) {
                                $("#successModal").modal();
                            }
                            else if (this.readyState == 4 && this.status != 201) {
                                $("#failModal").modal();
                            }
                        }

                        var body = {
                            'email': email
                        }
                        
                        request.open("POST", url, true);
                        request.setRequestHeader("Authorization", "token " + token, "Accept", "application/vnd.github.v3+json");
                        request.send(JSON.stringify(body));
                    },
                    createGuild: function () {
                        var token = document.getElementById("token").placeholder;
                        var guildName = document.getElementById("guildName").value;

                        this.createRepo(token, guildName);
                    }
                }
            }
        );


    </script>
</body>

</html>