<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sign Up | ProjectQuest</title>

    <!-- Favicons -->
    <link href="assets/img/favicon.ico" rel="icon">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">

    <style>
        body {
            background-image: url("./assets/img/bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            overflow-x: hidden;
            background-color: #02a385;
        }

        #knight2 {
            width: 100px;
            margin-top: 10px;
            margin-left: 10px;
        }

        #elf2 {
            width: 100px;
            margin-top: 10px;
            margin-left: 10px;
        }

        #dragon2 {
            width: 100px;
            margin-top: 10px;
            margin-left: 10px;
        }

        #wizard2 {
            width: 100px;
            margin-top: 10px;
            margin-left: 10px;
        }

        .spriteText {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .container {
            border: 5px solid #a8c582;
        }

        .col-form-label {
            color: #A41E29;
        }
    </style>
</head>

<body>
    <div class="modal fade" id='successModal' aria-labelledby="successModal" aria-hidden="true" tabindex="-1"
        role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Success!</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>You have successfully created an account and joined the guild!</p>
                </div>
                <div class="modal-footer">
                    <a href="./login.html" type="button" class="btn btn-primary">Log
                        in</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id='failModal' aria-labelledby="failModal" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Oh no...</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>There has been some issues with creating your account, please contact the administrator!</p>
                </div>
                <div class="modal-footer">
                    <a href="./index.html" type="button" class="btn btn-primary">Contact admin</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Exit</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id='loggedInModal' aria-labelledby="loggedInModal" aria-hidden="true" tabindex="-1"
        data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">You have already logged in!</h5>
                </div>
                <div class="modal-body">
                    <p>If you want to create a new account, please logout!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" onclick="app.logout()">Logout</button>
                    <a href="tasks.html" type="button" class="btn btn-primary">Return</a>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id='emptyInput' aria-labelledby="emptyInput" aria-hidden="true" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Oh no...</h5>
                </div>
                <div class="modal-body">
                    <p>Please make sure you have filled up all of the inputs!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Return to signup</button>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./index.html">ProjectQuest</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- <li class="nav-item ">
                    <a class="nav-link  active" href="./index.html">Home <span class="sr-only">(current)</span></a>
                </li> -->
                <!-- <li class="nav-item ">
                    <a class="nav-link" href="./tasks.html">Tasks </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./team.html">Team </a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./profile.html">Profile</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="./rewards.html">Rewards</a>
                </li> -->
            </ul>


            <ul class='navbar-nav ml-auto' id='loginDiv'>
                <li class="nav-item m-1">
                    <a class="btn btn-secondary" href="./login.html">Login</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid" id="signUpJoinTeam">
        <div class='container my-3'>
            <div class="row">
                <div class="col">
                    <h3 class='text-center p-3'>
                        Create Account
                    </h3>

                    <div class='row mb-3'>
                        <div class='col text-right'>
                            <input type="radio" id="new" value="new" v-model="picked">
                            <label for="new">Create New Guild</label>
                            <br>
                        </div>

                        <div class='col text-center'>
                            <input type="radio" id="existing" value="existing" v-model="picked">
                            <label for="existing" title='Link your existing repo to ProjectQuest'>Link Existing
                                Guild</label>
                            <br>
                        </div>
                        <div class='col text-left'>
                            <input type="radio" id="join" value="join" v-model="picked">
                            <label for="join">Join a Guild</label>
                            <br>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="name" class="col-sm-2 col-form-label">Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" placeholder="Enter your name">
                            <p class="text-danger" id="nameError"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="email" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="email"
                                placeholder="Enter your email (this will be your username to log in)">
                            <p class="text-danger" id="emailError"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="username" class="col-sm-2 col-form-label">GitHub Username:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username"
                                placeholder="Choose your GitHub username">
                            <p class="text-danger" id="usernameError"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="password" class="col-sm-2 col-form-label">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password"
                                placeholder="Choose a password with 8 or more characters with a mix of letters, numbers and symbols">
                            <p class="text-danger" id="passwordError"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="role" class="col-sm-2 col-form-label">Role:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="role"
                                placeholder="Key in your role - eg. Software Developer">
                            <p class="text-danger" id="roleError"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="class" class="col-sm-2 col-form-label">Choose your job type:</label>
                        <div class="col-sm-10 input-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="class" id="knight" value="knight"
                                    checked>
                                <label class="form-check-label" for="knight">
                                    <span class='spriteText'>Knight</span>
                                    <canvas id="knight2" width="150" height="150"></canvas>
                                </label>
                                <!-- <img id="knightpic" src="./assets/img/knightselect.png" alt="knight image" /> -->
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="class" id="wizard" value="wizard">
                                <label class="form-check-label" for="wizard">
                                    <span class='spriteText'>Wizard</span>
                                    <!-- <img id="wizardpic" src="./assets/img/knightselect.png" alt="wizard image" /> -->
                                    <canvas id="wizard2" width="150" height="150"></canvas>
                                </label>
                            </div>

                            <!-- <img id="knight2" src="./assets/img/knight.png"> -->
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="class" id="elf" value="elf">
                                <label class="form-check-label" for="elf">
                                    <span class='spriteText'>Elf</span>
                                    <canvas id="elf2" width="150" height="150"></canvas>
                                    <!-- <img id="elfpic" src="./assets/img/knightselect.png" alt="elf image" /> -->
                                </label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="class" id="dragon" value="dragon">
                                <label class="form-check-label" for="dragon">
                                    <span class='spriteText'>Dragon</span>
                                    <!-- <img id="dragonpic" src="./assets/img/knightselect.png" alt="dragon image" /> -->
                                    <canvas id="dragon2" width="150" height="150"></canvas>
                                </label>
                            </div>

                        </div>
                    </div>

                    <div class="form-group row">
                        <label for="guildName" class="col-sm-2 col-form-label">
                            <span data-toggle="tooltip" data-placement="bottom" title="Enter your existing GitHub organisation name">Guild Name:</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="guildName"
                                placeholder="Input the guild name (existing org name)">
                            <p class="text-danger" id="guildNameError"></p>
                        </div>
                    </div>

                    <!-- <div class="form-group row">
                        <label for="guildMember" class="col-sm-2 col-form-label">Invite guild members:</label>
                        <div class="col-sm-10 input-group">
                            <input type="email" class="form-control" id="guildMember" name="guildMember" value=""
                                placeholder="Guild member's email">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button" @click='addEmail()'>Add</button>
                            </div>
                        </div>
                    </div> -->

                    <!-- <div v-if='emails.length > 0' class="col-sm-10 ml-auto m-3 custom-control custom-checkbox">
                        <ul>
                            <li v-for='(email, index) in emails'>{{ email }}
                                <span @click='removeEmail(index)' class='float-right pr-5 text-danger' style="cursor:pointer;">remove</span>
                            </li>
                        </ul>
                    </div> -->

                    <div v-if="picked == 'new' || picked == 'existing'" class="form-group row">
                        <label for="repoName" class="col-sm-2 col-form-label">
                            <span data-toggle="tooltip" data-placement="bottom" title="Enter your new repository name">New Repo Name:</span></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="repoName" placeholder="Input the new repo name">
                            <p class="text-danger" id="repoNameError"></p>
                        </div>
                    </div>

                    <div class="form-group row">
                        <a href="https://github.com/settings/tokens/new" target="_blank" for="repoToken" class="col-sm-2 col-form-label"><span data-toggle="tooltip" data-placement="bottom" title="Set up a token from GitHub through the link and simply insert it here!">GitHub Token Key:</span></a>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="repoToken" placeholder="Input repo token key">
                            <p class="text-danger" id="repoTokenError"></p>
                        </div>
                    </div>

                    <div v-if="picked == 'new'" class="form-group row">
                        <label for="repoDesc" class="col-sm-2 col-form-label">Repo Description:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="repoDesc"
                                placeholder="Input repo description"></textarea>
                        </div>
                    </div>

                    <div v-if="picked == 'new' || picked == 'existing'" class="form-group row">
                        <label for="repoType" class="col-sm-2 col-form-label">Private or Public Repo?</label>
                        <div class="col-sm-10 input-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="privateOr" id="private" value="true"
                                    checked>
                                <label class="form-check-label" for="private">Private</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="privateOr" id="public" value="false">
                                <label class="form-check-label" for="public">Public</label>
                            </div>
                        </div>
                    </div>

                    <div class='text-right mb-3'>
                        <button class="btn btn-primary" @click='createGuild()'>Create an account</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/parallax/3.1.0/parallax.min.js"></script>

    <script>
        // activate tooltip
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });

        // checking if inputs are validated
        var valid_email = false;
        var valid_password = false;
        var valid_name = false;
        var valid_role = false;
        var valid_guildName = false;
        var valid_repoToken = false;
        var valid_username = false;

        var app = new Vue(
            {
                el: "#signUpJoinTeam",
                data: {
                    emails: [],
                    picked: 'new',
                    exist: false
                },
                methods: {
                    addEmail: function () {
                        newEmail = document.getElementById('guildMember').value.trim()
                        if (newEmail != '') {
                            this.emails.push(newEmail)
                        }
                        document.getElementById('guildMember').value = ''
                    },
                    removeEmail: function (index) {
                        this.emails.splice(index, 1);
                    },
                    createRepo: function (token, guildName) {
                        var repoName = document.getElementById("repoName").value.trim();
                        var repoDesc = document.getElementById("repoDesc").value;

                        var url = `https://api.github.com/orgs/${guildName}/repos`;
                        var request = new XMLHttpRequest();

                        request.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 201) {
                                // $("#successModal").modal();
                            }
                            else if (this.readyState == 4 && this.status != 201) {
                                $("#failModal").modal();
                            }
                        }
                        var private = false;
                        if (document.getElementById("private").checked) {
                            private = true;
                        }
                        // console.log(private);

                        var body = {
                            'name': repoName,
                            'description': repoDesc,
                            'private': private
                        }

                        request.open("POST", url, true);
                        request.setRequestHeader("Authorization", "token " + token, "Accept", "application/vnd.github.v3+json");
                        request.send(JSON.stringify(body));
                    },
                    createGuild: function () {
                        var token = document.getElementById("repoToken").value.trim();
                        var guildName = document.getElementById("guildName").value.trim();
                        var status = true;

                        if (this.emptyInput()) {
                            return
                        }

                        if (this.picked == "new") {
                            this.createRepo(token, guildName);

                            if (!this.getGuild(guildName)) {
                                this.addGuild(guildName);
                            }
                        } else if (this.picked == "existing") {

                            if (!this.getGuild(guildName)) {
                                this.addGuild(guildName);
                            }

                        } else {
                            if (this.getGuild(guildName)) {
                                this.addUser();
                            }
                        }

                        if (status == true) {
                            this.addUser();
                            $("#successModal").modal();
                        }
                        else {
                            $("#failModal").modal();
                        }
                    },
                    addUser: function () {
                        var radio_btn = document.getElementsByName("class");
                        // console.log(radio_btn);
                        var class_role = "";
                        for (var radio of radio_btn) {
                            if (radio.checked == true) {
                                class_role = radio.id;
                            }
                        };
                        // console.log(class_role);

                        fetch("https://wad-project-backup.df.r.appspot.com/add_user", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                class: class_role,
                                email: document.getElementById("email").value.trim(),
                                password: document.getElementById("password").value.trim(),
                                name: document.getElementById("name").value.trim(),
                                role: document.getElementById("role").value.trim(),
                                guild: document.getElementById("guildName").value.trim(),
                                git_token: document.getElementById("repoToken").value.trim(),
                                git_username: document.getElementById("username").value.trim(),
                            })
                        }).then(res => {
                            $("#successModal").modal();
                            return true;
                        }).catch((error) => {
                            $("#failModal").modal();
                            console.log(error)
                            return false;
                        });
                    },
                    addGuild: function (guildName) {
                        var private = "public";
                        if (document.getElementById("private").checked) {
                            private = "private";
                        }
                        // this.addChat(guildName)
                        fetch("https://wad-project-backup.df.r.appspot.com/add_guild", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                name: guildName,
                                r_name: document.getElementById("repoName").value,
                                r_desc: "",
                                r_access: private,
                                team_lead: document.getElementById("email").value
                            })
                        }).then(res => {
                            // console.log(this.user.git_username);
                            console.log('guild successfully added, shud return true')
                            this.addUser()
                        }).catch((error) => {
                            $("#failModal").modal();
                            console.log(error)
                            return false;
                        });
                    },
                    getGuild: function (guildName) {
                        fetch("https://wad-project-backup.df.r.appspot.com/get_guild?name=" + guildName, {
                            method: "GET",
                            headers: {
                                "Content-Type": "application/json"
                            }
                        }).then(res => {
                            return true;
                        }).catch((error) => {
                            console.log(error)
                            console.log("shud return")
                            return false;
                        });
                    },
                    // addChat: function (guildName) {
                    //     fetch("https://wad-project-backup.df.r.appspot.com/add_chat", {
                    //         method: "POST",
                    //         headers: {
                    //             "Content-Type": "application/json"
                    //         },
                    //         body: JSON.stringify({
                    //             guild: guildName
                    //         })
                    //     }).then(res => {
                    //         console.log(res.json())
                    // location.reload()
                    // })
                    // },
                    logout: function () {
                        sessionStorage.clear()
                        window.location.replace("./index.html");
                    },
                    emptyInput: function () {
                        var email = document.getElementById("email").value.trim();
                        var password = document.getElementById("password").value.trim();
                        var name = document.getElementById("name").value.trim();
                        var role = document.getElementById("role").value.trim();
                        var guild = document.getElementById("guildName").value.trim();
                        var git_token = document.getElementById("repoToken").value.trim();
                        var git_username = document.getElementById("username").value.trim();

                        this.getUser();

                        if (email == "" || password == "" || name == "" || role == "" || guild == "" || git_token == "" || git_username == "") {
                            $("#emptyInput").modal();
                            return true;
                        }
                        if (!valid_email || !valid_guildName || !valid_name || !valid_password || !valid_repoToken || !valid_role || !valid_username) {
                            $("#emptyInput").modal();
                            return true;
                        }
                        if (!this.exist) {
                            return true;
                        }

                        return false;
                    },
                    getUser: function () {
                        var git_token = document.getElementById("repoToken").value.trim();
                        const headers = {
                            "Authorization": `Token ${git_token}`,
                            "Accept": "application/vnd.github.v3+json"
                        }

                        fetch("https://api.github.com/user", {
                            'method': "GET",
                            'headers': headers
                        }).then(res => {
                            if (res.status == "200") {
                                this.exist = true;
                                console.log("this should be true")
                            }
                            else {
                                this.exist = false;
                                console.log("it does not work")
                                document.getElementById("repoTokenError").innerText = "Please enter a valid key!";
                            }
                        })
                    }
                },
                async created() {

                    if (sessionStorage.getItem("user") !== null) {
                        $("#loggedInModal").modal();
                        // setTimeout(function () { window.location.replace("./tasks.html"); }, 1000);
                    }
                }
            }
        );

        // validate the inputs
        $(document).ready(function () {
            $("input[type='text']").blur(function () {
                var errorId = this.id + "Error";
                var validId = "valid_" + this.id;
                var error = "";

                if (this.value == "") {
                    var inputName = this.id;

                    if (this.id == "guildName") {
                        inputName = "guild name";
                    }
                    else if (this.id == "repoName") {
                        inputName = "repo name";
                    }
                    else if (this.id == "repoToken") {
                        inputName = "repo token key"
                    }

                    error = "Please enter your " + inputName;
                }
                else {
                    validId = true;
                    // console.log(validId);
                }

                document.getElementById(errorId).innerText = error;
            });
            $("input[type='password']").keyup(function () {
                var errorId = this.id + "Error";
                var error = "";
                var password = this.value;

                // Validate length
                if (password.length < 8) {
                    error += "<li>is more than 8 characters</li>";
                }

                // lower case letters
                var lowerCaseLetters = /[a-z]/g;
                if (!password.match(lowerCaseLetters)) {
                    error += "<li>has lower case letters</li>";
                }

                // Validate capital letters
                var upperCaseLetters = /[A-Z]/g;
                if (!password.match(upperCaseLetters)) {
                    error += "<li>has upper case letters</li>";
                }

                // Validate numbers
                var numbers = /[0-9]/g;
                if (!password.match(numbers)) {
                    error += "<li>has numbers</li>";
                }

                // Validate symbols
                var symbols = /[!@#$%^&*]/g;
                if (!password.match(symbols)) {
                    error += "<li>has symbols</li>";
                }

                if (error.length > 0) {
                    error = "Please ensure that your password: <ul>" + error + "</ul>";
                }
                else {
                    valid_password = true;
                    // console.log(valid_password);
                }
                document.getElementById(errorId).innerHTML = error;
            });
        });

        function initialiseImage(src, query, width, height, x, y) {
            let img = new Image();
            img.src = src;
            img.onload = function () {
                init();
            };

            let canvas = document.querySelector(query);
            let ctx = canvas.getContext('2d');

            const scale = 2.5;
            const scaledWidth = scale * width;
            const scaledHeight = scale * height;
            function init() {
                ctx.drawImage(img, 0, 0, width, height, x, y, scaledWidth, scaledHeight);
            }

            function drawFrame(frameX, frameY, canvasX, canvasY) {
                ctx.drawImage(img, frameX * width, 0, width, height, x, y, scaledWidth, scaledHeight);
            }

            const cycleLoop = [0, 1, 2, 3];
            let currentLoopIndex = 0;
            let frameCount = 0;

            window.requestAnimationFrame(step);
            function step() {
                frameCount++;
                if (frameCount < 15) {
                    window.requestAnimationFrame(step);
                    return;
                }
                frameCount = 0;
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                drawFrame(cycleLoop[currentLoopIndex], 0, 0, 0);
                currentLoopIndex++;
                if (currentLoopIndex >= cycleLoop.length) {
                    currentLoopIndex = 0;
                }
                window.requestAnimationFrame(step);
            }
        }

        initialiseImage("./assets/img/knight_spritesheet.png", "#knight2", 65, 260, 0, -70);
        initialiseImage("./assets/img/elf_spritesheet.png", "#elf2", 65, 260, 0, -90);
        initialiseImage("./assets/img/dragon_spritesheet.png", "#dragon2", 65, 260, 0, -70);
        initialiseImage("./assets/img/wizard_spritesheet.png", "#wizard2", 65, 260, 0, -70);


    </script>
</body>

</html>