<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.css">
    <link rel="stylesheet" href="../plugins/github_contribution_graph.css">

    <style>
        body {
            background-image: url("../assets/bg.jpg");
            background-size: cover;
            background-repeat: no-repeat;
            height: 100%;
            overflow-x: hidden;
            background-color: #02a385;
        }

        #ch-window {
            width: 100%;
            height: 100%;
            border: 5px solid #a8c582;
            background: url("../assets/ch-bg.png") repeat-x right center;
            background-size: 150px;
            -webkit-animation: displace 10s linear infinite;
            animation: displace 10s linear infinite;
        }

        @-webkit-keyframes displace {
            from {
                background-position: 200% center;
            }

            to {
                background-position: right center;
            }
        }

        @keyframes displace {
            from {
                background-position: 200% center;
            }

            to {
                background-position: right center;
            }
        }

        #ch-img {
            width: 100px;
            margin-top: 10px;
            margin-left: 10px;
        }

        #demon {
            width: 110px;
            margin-top: 10px;
            margin-left: 100px;
        }

        #lvl-container {
            width: 150px;
            padding: 0px;
        }

        #lvl-window {
            border: 5px solid #a8c582;
            border-right: none;
        }

        table.table-bordered {
            border: 5px solid #a8c582;
            margin: 0px;
        }

        table.table-bordered td {
            border: none;
            border-left: 5px solid #a8c582;
            border-right: 5px solid #a8c582;
        }

        table.table-bordered th {
            border: 5px solid #a8c582 !important;
        }

        .page-link {
            border: 1px solid #9CB4BE;
            background-color: #C8F8F4;
            color: #A41E29;
        }

        .page-link:hover {
            color: black;
            background-color: #a8c582;
            border-color: #dee2e6;
        }

        @media (max-width: 767.98px) {

            #demon {
                margin-left: 20px;
            }


            #ch-window {
                animation: displace 3s linear infinite;
            }

        }

        .test {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    </style>
</head>

<body>
    <div id="team">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">WAD</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="./home.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="./tasks.html">Tasks</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="./team.html">Team <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class='navbar-nav ml-auto'>
                <li class="nav-item m-1">
                    <a class="btn btn-secondary" @click='logout()'>Logout</a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <br />

        <div class="row justify-content-md-center">
            <div class="col-lg-2 text-center py-3" id="lvl-window">
                <h1 class="font-weight-bold"> {{ guild.name }}</h1>
                <a class="btn btn-primary" href="./inviteorgmembers.html">Invite Members</a>
            </div>
            <!-- CHARACTER RUNNING CONTAINER -->
            <div class="col-lg-10 p-0">
                <div class="col" id="ch-window">
                    <canvas id="ch-img" width="150" height="150"></canvas>
                    <canvas id="demon" width="150" height="150"></canvas>
                    <!-- <img id="ch-img" src="../assets/knight.png"> -->
                </div>
            </div>
        </div>
        <br>

        <div class='row' v-if='members.length > 0'>
            <div class='col p-0'>
                <bootstrap-table :columns="columns" :data="members" :options="tableOptions" data-pagination="true">
                </bootstrap-table>
            </div>
        </div>
        <br v-if='members.length > 0'>

        <div class="row">
            <div class="col-sm-4 text-center">
                <table class='table table-borderless' style='height:100%;'>
                    <thead>
                        <tr>
                            <th><span class='display-4'>TEAM</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Streak: <span style="font-size: 28px;">{{guild.streak}} days</span></td>
                        </tr>
                        <tr>
                            <td>Exp Multiplier: <span style="font-size: 28px;">{{user.userLevel}}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='col-sm-8'>
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.18.0/dist/bootstrap-table-vue.min.js"></script>
    <script src="../plugins/github_contribution.js"></script>

    <script>

        var myData = [new Date(2020, 5, 5)]
        $('#myheatMap').github_graph({
            data: myData,
            texts: ['completed task', 'completed tasks']
        });
        var app = new Vue(
            {
                el: "#team",
                components: {
                    'BootstrapTable': BootstrapTable
                },
                data: {
                    guild: {
                        name: "",
                        streak: "",
                        users: []
                    },
                    teamname: 'JH-and-WX',
                    reponame: "private_test",
                    user: {
                        loggedInUser: "",
                        userLevel: "",
                        userExp: "",
                        token: "",
                        git_username: ""
                    },
                    columns: [
                        {
                            title: 'Username',
                            field: "username",
                        },
                        {
                            title: 'Role',
                            field: "role",
                        },
                        {
                            title: 'Commits',
                            field: "commits",
                        }
                        ,
                        {
                            title: 'Level',
                            field: "level",
                        }
                    ],
                    members: [
                    ],
                    tableOptions: {
                        search: true,
                        showColumns: true,
                    }
                },
                methods: {
                    displayTable: function () {
                        var token = this.user.token;
                        this.getMembers(token);
                        this.getTeamStats(token);
                    },
                    getMembers: function (token) {
                        var url = `https://api.github.com/orgs/${this.teamname}/members?role=all`;
                        var request = new XMLHttpRequest();
                        var members = this.members;

                        request.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                var json = JSON.parse(this.responseText);
                                // console.log(json);
                                for (member of json) {
                                    members.push({ username: member.login });
                                    app.getCommits(token, member.login);
                                }
                            }
                        }

                        request.open("GET", url, true);
                        request.setRequestHeader("Authorization", "token " + token, "Accept", "application/vnd.github.v3+json");
                        request.send();
                    },
                    getCommits: function (token, author) {
                        var orgname = this.teamname;
                        var repo = this.reponame;
                        var members = this.members;
                        var url = `https://api.github.com/repos/${orgname}/${repo}/commits?author=${author}`;
                        var request = new XMLHttpRequest();

                        request.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                var data = JSON.parse(this.responseText);
                                for (member of members) {
                                    if (member["username"] == author) {
                                        member["commits"] = data.length;
                                        // member.push(data.length);
                                    }
                                    app.sortedMembersAsc()
                                }
                            }
                        }

                        request.open("GET", url, true);
                        request.setRequestHeader("Authorization", "token " + token, "Accept", "application/vnd.github.v3+json");
                        request.send();
                    },
                    getTeamStats: function (token) {
                        var orgname = this.teamname;
                        var repo = this.reponame;
                        var url = `https://api.github.com/repos/${orgname}/${repo}/stats/participation`;
                        var request = new XMLHttpRequest();

                        request.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                var json = JSON.parse(this.responseText);
                                // console.log(json)
                                myChart.data.datasets[0].data = json.all.slice(46, 52)
                                let months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]
                                let currentMonth = new Date().getMonth()
                                myChart.data.labels = months.slice(currentMonth - 5, currentMonth + 1)
                                myChart.update()
                            }
                        }

                        request.open("GET", url, true);
                        request.setRequestHeader("Authorization", "token " + token, "Accept", "application/vnd.github.v3+json");
                        request.send();
                    },
                    sortedMembersAsc: function () {
                        function compare(a, b) {
                            if (a["commits"] > b["commits"])
                                return -1;
                            if (a["commits"] < b["commits"])
                                return 1;
                            return 0;
                        }
                        return this.members.sort(compare);
                    }
                    // ,
                    // addUser: function () {
                    //     fetch("http://localhost:5001/add_user", {
                    //         method: "POST",
                    //         headers: {
                    //             "Content-Type": "application/json"
                    //         },
                    //         body: JSON.stringify({
                    //             class: "knight",
                    //             email: "nic@wad.co",
                    //             password: "password",
                    //             name: "Nic Wong",
                    //             role: "Big boss",
                    //             guild: "JH-and-WX",
                    //             git_token: "ad0918ed9c10bd6fdaf4fb64afb3e0001a39ea62",
                    //             git_username: "nicwongg",
                    //         })
                    //     }).then(res => {
                    //         console.log(this.user.git_username);
                    //     })
                    // }
                    ,
                    updateStreak: function () {
                        fetch("http://localhost:5001/update_guild_streak/inc", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json"
                            },
                            body: JSON.stringify({
                                name: this.guild.name,
                                toAdd: 3,
                            })
                        }).then(res => {
                            console.log(this.guild.streak);
                        })
                    },
                    logout: function () {
                        sessionStorage.clear()
                        window.location.replace("./home.html");
                    }
                },
                async created() {

                    if (sessionStorage.getItem("user") !== null) {
                        // Retrieve
                        this.user.loggedInUser = sessionStorage.getItem("user");
                        // console.log(sessionStorage.getItem("user"));
                    }
                    else {
                        window.location.replace("./login.html");
                    }

                    // Gets the information of the logged in user
                    await fetch("http://localhost:5001/get_user?email=" + this.user.loggedInUser).then(res => {
                        var data = res.json().then(data => {
                            this.user.userLevel = data["level"];
                            this.user.userExp = data["exp"];
                            this.user.token = data["git_token"];
                            this.guild.name = data["guild"];
                            // console.log(this.guild.name);
                            // added dummy value
                            // this.user.token = "ad0918ed9c10bd6fdaf4fb64afb3e0001a39ea62";
                            // console.log(this.user.token);
                            this.displayTable();

                        })
                    })

                    // Gets all users in the guild
                    var resp = await fetch("http://localhost:5001/get_all_users").then(res => {
                        var data = res.json().then(data => {
                            var user_arr = [];
                            for (u of data["users"]) {
                                user_arr.push([u["name"], u["email"], u["git_username"], u["level"], u["guild"], u["multiplier"], u["role"]]);
                            }
                            this.guild.users = user_arr;
                            // console.log(this.guild.users);
                        })

                    })

                    // Gets guild info
                    await fetch("http://localhost:5001/get_guild?name=" + this.guild.name).then(res => {
                        var data = res.json().then(data => {
                            this.guild.streak = data["streak"];
                        })
                    })

                    const headers = {
                        "Authorization": `Token ${this.user.token}`,
                        "Accept": "application/vnd.github.v3+json"
                    }

                    await fetch("https://api.github.com/user", {
                        'method': "GET",
                        'headers': headers
                    }).then(res => {
                        var data = res.json().then(data => {
                            this.user.git_username = data.login;
                            // console.log(this.user.git_username);
                        })
                    })

                    if (this.members.length > 0 && this.guild.users.length > 0) {
                        // console.log(this.guild.users);
                        for (member of this.members) {
                            // console.log(member[0]);
                            for (user of this.guild.users) {
                                if (user[2] == member["username"]) {
                                    member["level"] = user[3];
                                    member["role"] = user[6]
                                    // console.log(member["level"]);
                                }
                            }
                        }
                        this.sortedMembersAsc();
                    }
                }
            }
        );

        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ["January", "February", "March", "April", "May", "June"],
                datasets: [{
                    label: '# of Commits',
                    data: [],
                    backgroundColor: [
                        'rgba(200, 248, 244, 0.25)',
                    ],
                    borderColor: [
                        'rgba(151, 186, 105, 1)',
                    ],
                    borderWidth: 3
                }]
            },
            options: {
                responsive: true,
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        function initialiseImage(src, query, width, height, x, y) {
            let img = new Image();
            img.src = src;
            img.onload = function () {
                init();
            };

            let canvas = document.querySelector(query);
            let ctx = canvas.getContext('2d');

            const scale = 2.5;
            const scaledWidth = scale * width;
            const scaledHeight = scale * height;
            function init() {
                ctx.drawImage(img, 0, 0, width, height, x, y, scaledWidth, scaledHeight);
            }

            function drawFrame(frameX, frameY, canvasX, canvasY) {
                ctx.drawImage(img, frameX * width, 0, width, height, x, y, scaledWidth, scaledHeight);
            }

            const cycleLoop = [0, 1, 2, 3];
            let currentLoopIndex = 0;
            let frameCount = 0;

            window.requestAnimationFrame(step);
            function step() {
                frameCount++;
                if (frameCount < 15) {
                    window.requestAnimationFrame(step);
                    return;
                }
                frameCount = 0;
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                drawFrame(cycleLoop[currentLoopIndex], 0, 0, 0);
                currentLoopIndex++;
                if (currentLoopIndex >= cycleLoop.length) {
                    currentLoopIndex = 0;
                }
                window.requestAnimationFrame(step);
            }
        }

        initialiseImage("../assets/knight_spritesheet.png", "#ch-img", 65, 260, 0, -70);
        initialiseImage("../assets/demon_spritesheet.png", "#demon", 65, 170, 0, -20);


    </script>
</body>

</html>