@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* GLOBAL STYLES */

* {
    /* font-family: "VT323", monospace; */
    /* color: #A41E29; */
}

#lvl-window {
    font-family: "VT323", monospace !important;

}

body {
    background-color: #AD6072;
}

.row {
    background: #FDE5B3;
}

.btn-primary {
    border: 4px solid #9CB4BE;
    background-color: #C8F8F4;
    color:  #A41E29;
}

.btn-warning {
    border: 4px solid #bbbe9c;
    background-color: #f7f8c8;
    color:  #A41E29;
}

/* REUSABLE */

